*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oxygen', sans-serif;
}

.container{
    max-width: 400px;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    margin: 0 auto;
    padding: 0 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: #ff5d8f;
}

.sec-con{
    background-color: aquamarine;
}

h1{
    color: #ff8fab;
    text-shadow: 0px 0px 1px black;
    font-size: 4rem;
}

h4{
    color: #ccff33;
    text-align: center;
    letter-spacing: 2px;
}

.activity{
    color: #e5ece9;
    font-size: 1.5rem;
    letter-spacing: 0;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: #ff8fab;
    border: 4px solid #fb6f92;
    box-shadow: 0px 0px 10px #dd2d4a;

    cursor: pointer;
}